  		
body {
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	background: url("https://preview.ibb.co/giKBn6/final2.jpg") 50% fixed;
	background-size:50%;
           
}.container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60%;
	min-height: 100%;
	padding: 20px;
	background: rgba(255, 255, 255, 1);
	box-shadow: #ff8c66;
	overflow:overlay;	
}

.heading {
	top: 400px;
	text-align: center; 
}

.description{
	border: 1px solid black;
    margin: 5px;
	text-align: center;
 	padding: 30px;
 	width: 40%;
}

.left {
   width: 40%;
   border: 3px solid  #333333;
   padding: 10px;
   margin: 5px;
        
}


.audioButton{

        }
        
.footer {
  align-items:center;	
  bottom: 0px;
  width: 60%;
  background-color: white;
  color: black;
  text-align: center;
  font: message-box; 
} 